%div.row.center-xs.big-padding
  %div.mdl-card.col-xs-10.col-sm-8.col-md-6.col-lg-5.shadow-card
    %h2 Ingresa
    %hr.no-margin
    %div.big-padding
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %div.row.middle-xs
          %div.col-xs-2.text-right
            = material_icon.account_circle.css_class('my-blue')
          %div.col-xs-10
            %div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.full-width
              = f.email_field :email, autofocus: true, id: 'email', class: 'mdl-textfield__input'
              = f.label "Correo electrónico", for: 'email', class: 'mdl-textfield__label'
        %div.row.middle-xs
          %div.col-xs-2.text-right
            = material_icon.vpn_key.css_class('my-blue')
          %div.col-xs-10
            %div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.full-width
              = f.password_field :password, autocomplete: "off", id: 'password', class: 'mdl-textfield__input'
              = f.label 'Contraseña', for: 'password', class: 'mdl-textfield__label'
        - if devise_mapping.rememberable?
          %div.row.center-xs.margin-top
            %div.col-xs-8.text-left
              %label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect{for: "remember"}
                = f.check_box :remember_me, id: "remember", class: "mdl-checkbox__input"
                %span.mdl-checkbox__label Recuérdame
        %div.big-margin-top
          = f.submit "Ingresa", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
      %div.big-margin-top
        = render "devise/shared/links"
